
.body {

	font-weight: 500;
	background-image: url("cork-board.jpg");

}
.col-sm-3 {
	padding-bottom: 1px; 
}
.container-fluid {
	width: 60%;
	background-color:  #f2d489;
}
.container-fluid h1 {
	text-align: center;
	padding: 2%;
	font-family: "Coming soon", cursive;	
	font-weight: 600;

}
:not(.container-fluid h1, #novoOpravilo){
	font-weight: 400;
}
.add {
	display: none;
	font-family: "Coming soon", cursive;	

}
#novoOpravilo {
	display: table;
	margin: 20px auto 40px auto;
	border-radius: 20px;

}
#vnosOpravila, #izbiraRoka, #izbiraKategorije, #sel1 {
	font-weight: 400;
}

#dodajOpravilo {
	float: right;
}

#todoPanel {
	text-align: center;
	font-size: 130%;
	font-family: "Coming soon", cursive;
}

#donePanel {
	text-align: center;
	font-size: 130%;
	font-family: "Coming soon", cursive;

}
#todo, #done {
	font-family: "Coming soon", cursive;

}
#icon {
	float: right;
	color: black;
}
#icon:hover {
	color: green;
}