.body {
	font-weight: 500;
	background-color: #6c7a89;
	font-family: "Fira Sans", sans-serif;
}
.logout {
	padding-right: 30px;
}
.col-sm-3 {
	padding-bottom: 1px; 
}
.container-fluid {
	width: 60%;
	background-color:  #bdc3c7;
}
.container-fluid h1 {
	text-align: center;
	padding: 2%;
	font-weight: 500;

}
.add {
	display: none;

}
#novoOpravilo {
	display: table;
	margin: 20px auto 40px auto;
	border-radius: 20px;

}
#vnosOpravila, #izbiraRoka, #izbiraKategorije, #sel1, #opisOpravila {
	font-weight: 400;
}

#dodajOpravilo {
	float: right;
}

#todoPanel {
	text-align: center;
	font-size: 130%;
}

#donePanel {
	text-align: center;
	font-size: 130%;

}

#icon {
	float: right;
	color: black;
}
#icon:hover {
	color: green;
}